.container {
    position: relative;
    
}
.form,
.tasks {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    margin: 40px;
    background-color: #eee;
    position: relative;
    border-radius: 6px;
    padding: 20px;
    overflow-x: hidden;
}

.form .input,
.form .add {
    overflow: hidden;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}

.form .input {
    margin-right: 15px;
    flex: 2;
    padding: 10px;
}

.form .input:focus {
    outline: none;
    border: 1px solid #aaa;
}

.form .add {
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}